main.pdf
main.aux
main.bbl
main.blg
main.log
main.out
talk/DLT2021.pdf
talk/DLT2021.aux
talk/DLT2021.log
talk/DLT2021.nav
talk/DLT2021.out
talk/DLT2021.snm
talk/DLT2021.toc
talk/DLT2021.vrb
texput.log
main.synctex.gz
